body {
  margin : 20px;
  font-family: arial, sans-serif;
}

.todo {
  padding: 3px;
}

.createdat{
  font-style: italic;
  font-size: 10px;
  color: blue;
}

.updatedat{
  font-style: italic;
  font-size: 10px;
  color: green;
}